body {
  background: #104060;
  padding-top: 40px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  text-align: center;
  font-size: 22px;
  color: #fff;
}

#game {
  width: 320px;
  margin: 0 auto;
  background: #5A5A5A;
  border: 1px solid #868686;
  padding: 20px 0;
}

#container {
  width: 256px;
  margin: 0 auto;
}

#hud {
  width: 256px;
}

#grid {
  border-spacing: 0;
  border-collapse: collapse;
}

#grid td div, .tile {
  border-radius: 3px;
  width: 30px;
  height: 30px;
  box-shadow: inset 3px 3px 15px 4px rgba(230, 230, 230, 0.1);
  cursor: pointer;
}

.red {
  background: rgb(199, 18, 18);
}

.green {
  background: rgb(22, 133, 22);
}

.blue {
  background: rgb(35, 42, 213);
}

.yellow {
  background: yellow;
}

.purple {
  background: purple;
}

.pink {
  background: rgb(216, 130, 145);
}

.black {
  background: rgb(36, 36, 36);
}

.white {
  background: white;
}

#progress {
  border: 1px solid #c4c4c4;
  width: 214px;
  height: 20px;
  float: left;
}

#progress div {
  height: 100%;
}

#lookahead {
  overflow: hidden;
}

#next {
  float: left;
  margin-left: 10px;
}